.customInput {
  width: 440px;
  margin-right: 5px;
  background-color: transparent;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
}

.customInput:focus {
  background-color: #ffffff;
}

.customInput:focus:not(:focus-visible) {
  border-color: #0969da;
  outline: none;
  box-shadow: inset 0 0 0 1px transparent;
}
